<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>421563371643-i734hfudsn48e5lml92d8itrk4ifvrlq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.421563371643-i734hfudsn48e5lml92d8itrk4ifvrlq</string>
	<key>API_KEY</key>
	<string>AIzaSyAl1gkczs1LKKGpnQI1xfIiVU3Z7gGKCrg</string>
	<key>GCM_SENDER_ID</key>
	<string>421563371643</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>expo.modules.shareextension.withfirebase.ShareExtension</string>
	<key>PROJECT_ID</key>
	<string>share-extension</string>
	<key>STORAGE_BUCKET</key>
	<string>share-extension.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:421563371643:ios:a1e2c3f2d68a2162bcd2de</string>
</dict>
</plist>